<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://ultraq.net.nz/thymeleaf/Layout">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <meta charset="UTF-8">
  </head>
  
  <body>
  	<div class="container">
  	 	<h3 th:text="${titel}"></h3>
  	 	<p> Thank You for signing up .please click on the link to verify your email address</p>
  	 	<button class="btn btn-primary"><a th:href="${link}" >Click Here</a></button>
  	 </div>
  	
  </body>
  </html>